<header> 
    <nav>
        <h1>Fridge Delivery Managment System</h1>
        <ul class="navigation pills">
            <li class="nav item"><a href="{{ url_for('home') }}" class="nav-link active">Home</a></li>
            <li class="nav item"><a href="{{ url_for('login') }}" class="nav-link">Login</a></li>
            <li class="nav item"><a href="{{ url_for('manage') }}" class="nav-link">Management</a></li>
            <li class="nav item"><a href="{{ url_for('logout') }}" class="nav-link">Logout</a></li>
        </ul>
    </nav>
    <hr style="clear:both">
</header>